html{
    --color-pink: #E3007E
}

main{
    background-color: #ffffff;
}


/* GLOBAL PAGE */

*{
    box-sizing: border-box;
}

.wrapper{
    max-width: 80%;
    margin: 0 auto;
}

body{
    font-family: "SF-Pro-Display-Black";
    background: #efefef;
}

/* HEADER */

br{
    width: 10px;
    margin: 10px;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 80%;
    height: 100px;
}

header .logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

header .logo img{
    height: 100%;
    width: auto;
}

header nav ul{
    display: flex;
    align-items: center;
    padding: 20px;
}

header ul li a{
    text-decoration: none;
    color: #3c3434;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-transform: none;
}

.btn-header {
    margin-left: 8px;
    padding: 0 16px;
    height: 32px;
    border-radius: 100px;
    border: none;
    background-color: rgb(212, 88, 236);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: all 0.5;
    cursor: pointer;
    outline: none;
}

.btn-header:hover {background-color: #86BC24}

.btn:active {
  background-color: #86BC24;
  box-shadow: 0 5px #EBEBEB;
  transform: translateY(4px);
}

.search-contact{
    display: flex;
    align-items: center;
}

/* BANNER */

.banner {
    /* Centrer */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Background vert */
    width: 100%;
    height: auto;
    background-color: #86BC24;
    margin-top: 100px;
    padding-top: 20px;
}

.banner__inner {
    /* Positionner */
    display: flex;
    flex-direction: row; /* se docu sur flex direction asap */
    justify-content: space-between;
    /* Responsive */
    width: 100%;
}

.banner__inner__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.banner__inner__right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.banner__inner__left>.title:first-child {
    margin-bottom: 32px;
}

.searchbar {
    display: flex;
    align-items: center;
    width: 50%;
    height: 44px;
    border-radius: 4px;
    background-color: white;
}

.searchbar__image {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 6px;
}

.searchbar__input {
    border: none;
    outline: none;
    /* padding-left: 16px; */
}

@media screen and (min-width:1600px){
    .banner__inner, .wrapper{
        max-width: 80%;
    } 
}

/* FONTS */

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
}

.text-white {
    color: white;
}

.text-black {
    color: #333;
}

/* Phrase d'accroche*/
.main-block{
    height: 800px;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
}

.block-information{
    margin: 0 auto;
    width: 75%;
}

.information-text{
    font-family: 'Roboto', sans-serif;
    font-size: 2.813rem;
    font-weight: 900;
    line-height: 3.356rem;
    color: #3c3434;
    width: 37.625rem;
}

.text-color{
    color: #aeef37;
}

.information-text-fat{
    font-size: 8.125rem;
    line-height: 155px;
}

.information-text-little{
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.238rem;
}

/* Liste de formation */

.list-formation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formations{
    padding: 15px;
    background-color: #EBEBEB;
    margin-top: 20px;
    align-items: center;
    display: flex;
    width: 30%;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.formation-image{
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-pink);
}

@media screen and (max-width:1400px){
    .main-block{
        height: 1000px;
    } 

}

/*Choix de formation*/

.formation-choice{
    position: relative;
    height: 478px;
    padding-top: 1px;
    background-color: #efefef;
}

.formation-content{
    width: 75%;
    margin: 0 auto;
}

.formation-choice-title{
    font-weight: 900;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-top: 90px;
    z-index: 3;
}

.choice-image{
    position: absolute;
    top: 0;
    z-index: 1;
}

.choice-selection{
    display: flex;
    justify-content: space-between;
    width: 70.375rem;
    margin: 0 auto;
}

.choice{
    padding: 10px;
    width: 27.75rem;
    height: 12.375rem;
    background-color: white;
    z-index: 2;
    border-radius: 15px;
}

.choice-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
    z-index: 2;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choice-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 24.875rem;
    margin: 0 auto 20px;
}

.choice-link{
    box-sizing: initial;
    text-decoration: none;
    color: white;
    background: var(--color-pink);
    padding: 10px;
    padding-left: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 8px auto;
}

.choice-link image{
    margin-left: 0px;
}

.one{
    width: 200px;
}

.two{
    width: 270px;
}

/*---------------------------Section Location-------------------*/

/*---------------------------Section counter-------------------*/
.card__inner{
    display: flex;
    flex-direction: row; /* se docu sur flex direction asap */
    justify-content: space-between;
    position: relative;
    z-index: 2;
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-family: "roboto";
    color: white;
    margin: 20px    ;
}

.card__inner__left img{
    width: 250px;
}

.logo__next__work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.logo__title__bot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-black2{
    font-family:"p22-pooper-black-pro";
    font-size: 120px;
}

.txt-banner-card{
    text-align: center;
    justify-content: center;
    
}
.countdown__card{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white;
    width: 100%;
    
}
.background-total-card{
width: 70%;
display: flex;
background-color: #86BC24;
margin: 40px;
border: 10px;
border-radius: 7px;
}

.card__inner__right{
    padding: 20px;
}
.card-bg-fill{
    background-color: white;
    width:  430px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px 7px 0 0;
    flex-direction: column;
}
.card-bg-fill h1{
    font-size: 23px;
    font-weight: 500;
    color: #736363;
    font-family: "Roboto";
}
.card-bg-fill h2{
    font-size: 50px;
    font-family: "Roboto";
    font-weight: bold;
    color: #3c3434;
}
.card-bg-tick{
    display: flex;
    background-color: var(--color-pink);
    width: 430px;
    height: 84px;
    border-radius: 0 0 7px 7px;
    align-items: center;
    justify-content: center;
}

.btn-card{
    width: 35%;
    margin-left: 8px;
    padding: 0 16px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color:white;
    color: #3C3434;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5;
    cursor: pointer;
    outline: none;
}

.btn-card:hover {background-color: #86BC24;
    color: white;}

.btn:active {
  background-color: #86BC24;
  box-shadow: 0 5px #EBEBEB;
  transform: translateY(4px);
  color: white;
}
/*---------------------------Section counter-------------------*/


.location{
    width: 75%;
    margin: 0 auto ;
    margin-top: 50px;
    display: flex;
    height: 500px;
}

.location-info{
    margin-top:70px ;
    width: 70%;
}

.list-location-number{
    display: flex;
    flex-wrap: wrap;
}

.location-number-text{
    font-family: 'Roboto', sans-serif;
    color: #8D7C7C;
    font-size: 20px;
    font-weight: 500;
    width: 70%;
}

.location-title{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.black-number{
    font-family: 'Roboto', sans-serif;
    color: #3C3434;
    font-size: 65px;
    font-weight: 900;
}

.green-number{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #86BC24;
}

.location-number{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 20px;
}

.image-france img{
    width: 90%;
}

/*---------------------------Section Location-------------------*/


/*--------------------------Section qualifications----------------------------*/

.all-adventage-formation{
display: flex;
flex-wrap: wrap;
width: 75%;
margin: 0 auto;
}

.adventage-formation{
    margin-right: 25px;
    width: 31%;
    margin-bottom: 50px;
}

.title-adventage-formation{
    font-size: 20px;
    font-weight: 900;
    color: #3C3434;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif ;
}

.text-adventage-formation{
    font-family: 'Roboto', sans-serif ;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.48px;
    color: #3C3434;
}

.image-adventage-formation{
    width: 58px;
    height: 58px;
    margin-bottom: 20px;
}

/*--------------------------Section qualifications----------------------------*/

/*--------------------------Section boutton about et logo-----------------------------*/

.button-about{
    width: 75%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.link-button{
    box-sizing: initial;
    text-decoration: none;
    color: white;
    background: var(--color-pink);
    padding: 10px;
    padding-left: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 8px auto;
}

.logo-button{
    margin-left: 20px;
}

.list-logo{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.line-green{
    margin-top: 50px;
    background-color: #86BC24;
    width: 100%;
    height: 67px;
}
/*--------------------------Section boutton about et logo-----------------------------*/


/*--------------------------Section footer-----------------------------*/

.footer{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.newsletter{
    width: 50%;
    margin-top: 60px;
}

.list-menu-title{
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.element-list{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.newsletter-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.newsletter-text-small{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.button-email-newsletter{
    height: 48px;
    width: 119px;
    border-radius: 10px;
}

.newsletter-email{
    height: 48px;
    width: 365px;
    border-radius: 10px;
}

.menu{
    line-height: 15px;
}

.footer-end{
    margin-top: 20px;
    border-top: 2px solid #BBBBBB;
}

.footer-end-text{
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 75%;
    margin: 0 auto;
}



/*--------------------------Section footer-----------------------------*/

